@import "../global.scss";

.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media only screen and (min-width: 768px) {
       
    }
}

.login-panel{
    background: $white;
    text-transform: uppercase;

    box-shadow: 0 0 20px 5px $grey;
}

.login-header-panel{
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 30px;
    background: $backgroundColor;
    h1{
        color: $mainColor;
        font-size: 5rem;
        font-weight: bold;
    }
    @media only screen and (min-width: 1024px) {
        
    }
}